.popup__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 358px;
    height: 27px;
    margin-bottom: 24px;
    padding-bottom: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    outline: none;
}

@media (max-width: 320px) {
    .popup__input {
        width: 238px;
    }
}