.profile__name-block {
    display: inline-flex;
    align-items: baseline;
    max-width: 336px;
}

@media (max-width: 320px) {
    .profile__name-block {
        max-width: 282px;
        justify-content: center;
    }
}